<!DOCTYPE html>
<html>
  <head>
	<title>Margie's </title>
	<%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <style>
    	body{
    		background-color: #ffb3d1;
    	}



    </style>
  </head>
  
  <body>
	<!-- Navigation -->

	<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation" style="background-color: #ffb3d1; ">
		<div class="container">
			<div class="navbar-header" style="color: white;">
				<%= link_to "Margie's Forum", root_url, class: "navbar-brand"   %>
			</div>
	        <div  class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				<ul class="nav navbar-nav">
					
					<%- if current_user %>
						
						<li>
							<%= link_to "Upload", new_post_path %>
						</li>
						<li>
							<%= link_to "Logout", destroy_user_session_path, method: :delete, data: {confirm: "Are you sure?"} %>
						</li>
						
					<% else %>

					<li>
						<%= link_to "Login", new_user_session_path ,style: "color:black"%>
					</li>
					<li>
						<%= link_to "Register", new_user_registration_path ,style: "color:black"%>
					</li>
					<% end %>
				</ul>
			</div>
		</div>
	</nav>
             
<!-- Page Content -->
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
        		<%flash.each do |a,b| %>
        		<div class="alert alert-success"> <%= b %> </div>
        		<% end %>
          <%= yield %>
        </div>
      </div>
    </div>

<style>
      body { padding-top: 70px; }

    </style>

  </body>
</html>